/* List */
.jla-bucketlist {
  counter-reset: index;
  padding: 0;
  max-width: 500px;
}

/* List element */
.jla-bucketlist-item {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  box-sizing: border-box;

  /* Element counter */
  &::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


/* Element separatin */
.jla-bucketlist-item + .jla-bucketlist-item {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 12px;
}