@import '../style/variables';

.dp-work {
  .dp-cursor {
    color: $purple;
  }
}

.dp-work-experience {
  display: flex;
  flex-wrap: wrap;

  &-list {
    animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 1s;

    &.second-column {
      margin-top: 76px;
      animation-delay: 1.9s;
    }
  }
}