@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500');

h1 {
  color: $purple;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;

  @media screen and (min-width: $screen-sm-min) {
    font-size: 59px;
    font-weight: 200;
    margin-bottom: 0;
  }

  .dp-cursor{
    color: $purple;
  }
}

h2 {
  color: $purple;
  margin: 10px 0;
  text-transform: uppercase;
}

h3 {
  color: $yellow;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin: 5px 0;

  @media screen and (min-width: $screen-sm-min) {
    font-size: 35px;
    line-height: 50px;
  }

  .dp-cursor{
    color: $yellow;
  }
}

strong {
  color: $green;
  font-weight: 300;

  span.dp-cursor{
    color: $green;
  }
}

em {
  color: $orange;

  .dp-cursor{
    color: $orange;
  }
}

a {
  color: $orange;
  font-weight: bold;
  text-decoration: none;

  .dp-cursor{
    color: $orange;
  }
}


p {
  color: $white;
  font-size: 15px;

  .dp-cursor{
    color: $white;
  }
}

blockquote,
ul,
ol {
  border-left: 1px solid $grey;
  margin: 10px 0 10px 20px;
  padding: 0 0 0 20px;
  color: $yellow;
}

.dp-comment {
  color: $grey;
}

.dp-title {
  color: $purple;
  font-size: 25px;
  margin-bottom: $dp-spacer-sm;

  @media screen and (min-width: $screen-sm-min) {
    font-size: 2.2em;
  }
}