// Color variables
$color-black: #252525;
$color-grey: #f5f5f5;

$dark:				#2b2b2b;
$black:				#353535;
$white:				#FCFCFC;
$gray:				#F1FFFA;

$off-state: 	$white;
$react-blue:	#61dafb;

// Colors for dark theme
@import url("https://fonts.googleapis.com/css?family=Space+Mono");

$grey: #4d4d4c;
$yellow: #efc371;
$purple: #ae94c0;
$green: #b5bc67;
$orange: #dd925f;
$dp-purple: #9b59b6;
$dp-blue: #7A99AD;

// Spacer
$dp-spacer-md: 25px;
$dp-spacer-sm: 10px;

// Colors for light theme
.dp-education {
    $grey: #4d4d4c;
    $yellow: #aab148;
    $purple: #607D8B;
    $green: #67953b;
    $orange: #7b94a7;
    $dp-purple: #806b92;
    $alternateWhiteThemeWhite: #484848;
    $white: $alternateWhiteThemeWhite;

    h1 {
        color: $dp-purple;
    }

    h2 {
        color: $purple;
    }

    h3 {
        color: $yellow;
    }

    p {
        color: $alternateWhiteThemeWhite;
        font-size: 18px;
    }

    .dp-button-text {
        color: $green;
    }
}

// Breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 640px;
$screen-md-min: 860px;
$screen-lg-min: 1100px;
$screen-lg2-min: 1300px;