@import "./style/mixins";
@import "./style/variables";
@import "./style/font";
@import "./style/layout";

@import "./components/Home";
@import "./components/Education";
@import "./components/Motivation";

* {
  transition: all 500ms ease-out;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  user-select: none;
  font-family: "Space Mono", monospace, sans-serif;
  font-weight: 200;
  background: #374046;
}

ul, ol {
  margin: 0;
  padding: 0;
  z-index: 1;
  border-left: 0;
}

li {
  list-style: none;
}

.dp-icon-navigation-list-item  {
  cursor: pointer;

  &[aria-selected="false"]{
    transform: scale(.6);
    filter: blur(1px);
    transition-delay: .25s;

    &:hover {
      transform: scale(1.2);
      opacity: 0.6;
      transition-delay: 0s;
      filter: blur(0px);
    }
  }
}

.react-tabs__tab--selected {
  transform: scale(1.2) !important;

  &:hover {
    opacity: 1;
  }
}

// Navigation
.dp-tab-navigation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: #fff;
  overflow: hidden;

  @media screen and (min-width: $screen-sm-min) {
    flex-direction: row;
  }

  // Navigation
  .dp-icon-navigation-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    z-index: 2;

    @media screen and (min-width: $screen-sm-min) {
      flex-direction: column;
      height: 100%;
      min-width: 150px;
      justify-content: center;
    }

    &-item {
      margin-bottom: 25px;
      color: #fff;
      display: block;
      font-size: 32px;
      list-style: none;
    }
  }
}

.dp-tab-navigation {
  display: flex;
}
